@import "../../styles/utils";

.logo {
  background-image: url("../../images/logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 145px;
  height: 40px;
}
